<div class="list row">
  <div class="col-md-6" style="padding-bottom: 30px">
    <h4>Region : Australia </h4>
  </div>

</div>


<div class="list row">
  <div class="col-md-6" style="padding-bottom: 30px">
    <h4>Progress Tracker</h4>

    <div class="progress md-progress" style="height: 30px">
      <div class="progress-bar bg-success" role="progressbar" style="width: 75%; height: 30px" aria-valuenow="50" aria-valuemin="75" aria-valuemax="75">75%</div>
    </div>
  </div>
</div>

<div><p style="padding-bottom: 10px"></p></div>

<div class="card">
  <div class="card-header">
    SLA Status
  </div>
  <table class="table table-hover">
    <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col">Time</th>
      <th scope="col">SLA Breached</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>JPM Prices & NAV's</td>
      <td>Complete</td>
      <td>9:30 am </td>
      <td>False</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Fund Analysis Review</td>
      <td>Complete</td>
      <td>9:30 am </td>
      <td>False</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fund Analysis Approved</td>
      <td>Complete</td>
      <td>10:00 am </td>
      <td>False</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>ETF Admin Review</td>
      <td>Complete</td>
      <td>11:00 am </td>
      <td>False</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Bursting</td>
      <td>Pending</td>
      <td>12:15 pm </td>
      <td>TBD</td>
    </tr>
    </tbody>
  </table>
</div>
