<div>
  <nav class="navbar navbar-expand navbar-dark" style="background-color: #CC0000;">
    <a href="#" class="navbar-brand">VG Progressor</a>
    <div class="navbar-nav ml-auto">
      <li class="nav-item" >
        <a routerLink="" class="nav-link">Welcome Vanguard User</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4" style="height: 200px; background-color: #00C851;text-align: center; padding-top: 80px;">
        <a routerLink="tutorials" style="font-size: x-large;color: #000000">Australia</a>
      </div>
      <div class="col-md-4" style="background-color: #ffbb33;text-align: center; padding-top: 80px">
        <a routerLink="" style="font-size: x-large;color: #000000">Europe</a>
      </div>
      <div class="col-md-4" style="background-color: #00C851;text-align: center; padding-top: 80px">
        <a routerLink="" style="font-size: x-large;color: #000000">Hong Kong</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" style="height: 200px; background-color: #CC0000;text-align: center; padding-top: 80px">
        <a routerLink="" style="font-size: x-large;color: #000000">United States</a>
      </div>
      <div class="col-sm" style="background-color: #00C851;text-align: center; padding-top: 80px">
        <a routerLink="" style="font-size: x-large;color: #000000">Canada</a>
      </div>
      <div class="col-sm" style="background-color: #ffbb33;text-align: center; padding-top: 80px">
        <a routerLink="" style="font-size: x-large;color: #000000">Mexico</a>
      </div>
    </div>
  </div>

</div>
