<div class="list row">

  <div class="col-md-6" style="padding-bottom: 30px;padding-top: 30px">
    <h4>Global Regions</h4>
  </div>

  <div class="container" *ngFor="let progress of progresses">
    <div class="row" style="border: black">
      <div class="col-sm-2" style="height: 70px;">
        <a routerLink="/banner" style="font-size: x-large;color: #000000">{{progress.region}} -</a>
      </div>
      <div class="col-sm-2" style="height: 70px; background-color:{{progress.statusColor}}; text-align: center;padding-top: 10px">Progress : {{progress.statusValue}}</div>
    </div>
    <div style="padding-top: 25px"></div>
  </div>

</div>
